In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json
import seaborn
from scipy.stats import ttest_ind

In [40]:
alpha_test = pd.read_excel("alphabtical_testing.xlsx")

In [41]:
alpha_test.head(10)

  <ticker>    <date>  <open>     <high>  <low>  <close>    <vol>
0        A  20160101   41.81 -42.363655  41.81    41.81        0
1        A  20160104   41.06  -1.305047  40.34    40.69  3287300
2        A  20160105   40.73   0.902214  40.34    40.55  2587200
3        A  20160106   40.24   0.718016  40.05    40.73  2103600
4        A  20160107   40.14   3.227403  38.81    39.00  3504300
5        A  20160108   39.22   0.716412  38.47    38.59  3736700
6        A  20160111   38.71   0.206870  37.41    37.94  2818600
7        A  20160112   38.43   0.581145  37.65    38.19  1989300
8        A  20160113   38.35   0.212443  36.72    36.86  4206600
9        A  20160114   36.94   1.284885  36.55    37.61  2893300

In [46]:
alpha_test.count()

<ticker>    70925
<date>      70925
<open>      70925
<high>      70925
<low>       70925
<close>     70925
<vol>       70925
dtype: int64