In [245]:
# Link = http://localhost:8888/notebooks/Desktop/Repositories/Bootcamp_repository/UCIRV201801DATA3-Class-Repository-DATA/02-Homework/04-Numpy-Pandas/Instructions/HeroesOfPymoli/04%20-%20Pandas%20Homework%20-%20Heroes%20of%20Pymoli.ipynb
# You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository = I have no idea what this means.
# Observable Trend 1: Final Critic, Arcane Gem, Betrayal Whisper of Grieving Widows, Stormcaller, and Woeful Adamantite Claymoreare the top five most purchased items
# Observable Trend 2:
# Observable Trend 3:

In [246]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [247]:
purchase_data_1 = pd.read_json('purchase_data.json')

In [248]:
purchase_data_1.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [249]:
# Player Count: Total Number of Players
total_players = purchase_data_1["SN"].count()

# = 780 players

In [250]:
#**Purchasing Analysis (Total)**
    #* Number of Unique Items
len(purchase_data_1["Item Name"].unique())

179

In [251]:
#* Average Purchase Price
purchase_data_1["Price"].mean()

2.931192307692303

In [252]:
#* Total Number of Purchases
purchase_data_1["Price"].count()

780

In [253]:
#* Total Revenue
purchase_data_1["Price"].sum()

2286.3299999999963

In [254]:
#**Gender Demographics**
    #* Percentage and Count of Male Players
    #* Percentage and Count of Female Players
    #* Percentage and Count of Other / Non-Disclosed

In [255]:
# Counts here, percentages below
purchase_data_1["Gender"].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [256]:
male_percent = purchase_data_1["Gender"].value_counts()["Male"]/total_players
male_percent*100

81.15384615384616

In [257]:
female_percent = purchase_data_1["Gender"].value_counts()["Female"]/total_players
female_percent*100

17.435897435897434

In [258]:
non_disc_percent = purchase_data_1["Gender"].value_counts()["Other / Non-Disclosed"]/total_players
non_disc_percent*100

1.4102564102564104

In [268]:
#**Purchasing Analysis (Gender)** 
#* The below each broken by gender
  #* Purchase Count

# = I don't understand what this question is asking. I also don't know how to break out the
# the two sexes into seperate things.

In [283]:
  #* Average Purchase Price
purchase_data_1[["Gender","Price"]].sum()

Gender    MaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMale...
Price                                               2286.33
dtype: object

In [261]:
  #* Total Purchase Value
    
# = Not really sure what this means. Total sum?
purchase_data_1[["Price","Gender"]].sum()

Price                                               2286.33
Gender    MaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMale...
dtype: object

In [ ]:
  #* Normalized Totals
# = Not idea what this means :(

In [ ]:
#**Age Demographics**
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

In [ ]:
bins = [0,1,2,3,4,5]
group_names = ['Cheap', 'Somewhat Cheap', 'Moderate', 'High', 'Very High']

pd.cut(purchase_data_1["Price"], bins, labels=group_names)

In [ ]:
  #* Purchase Count
  #* Average Purchase Price
  #* Total Purchase Value
  #* Normalized Totals

# = I don't understand the math for this part.

In [ ]:
#**Top Spenders**
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  #* SN
  #* Purchase Count
  #* Average Purchase Price
  #* Total Purchase Value

# = I don't understand the math for this part or the headers. I guess you'd find whoever 
    #purchased the most (sum of top price and frequency?) and make a table from that.

In [ ]:
#**Most Popular Items**
#* Identify the 5 most popular items by purchase count, then list (in a table):
pop_item = purchase_data_1["Item Name"].value_counts().nlargest(5)

In [ ]:
  #* Item ID
  #* Item Name:
  #* Purchase Count
  #* Item Price
  #* Total Purchase Value
    
# = I'm not understanding what purchase count is.

In [ ]:
#* Identify the 5 most profitable items by total purchase value, then list (in a table):
  #* Item ID
  #* Item Name
  #* Purchase Count
  #* Item Price
  #* Total Purchase Value
    
# = I'm not understanding what purchase count is.