In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json
import seaborn
from scipy.stats import ttest_ind

In [64]:
election_data_1 = "election_data_1.csv"
election_data_1 = pd.read_csv(election_data_1)
election_data_1.head(10)

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal
5   1943299  Mershville    Vestal
6   1880982      Harsaw    Torres
7   1305689      Harsaw    Torres
8   1759114  Mershville    Vestal
9   1745020  Matterdawn      Seth

In [65]:
#more data
election_data_1.count()

Voter ID     803000
County       803000
Candidate    803000
dtype: int64

In [66]:
#The total number of votes cast
election_data_1["Voter ID"].count()

803000

In [67]:
#A complete list of candidates who received votes
    #--get out NANs
    
election_data_1.dropna

<bound method DataFrame.dropna of         Voter ID      County Candidate
0        1405627      Harsaw    Vestal
1        1711723  Mershville    Vestal
2        1550639  Matterdawn    Vestal
3        1042621      Harsaw    Vestal
4        1583965  Matterdawn    Vestal
5        1943299  Mershville    Vestal
6        1880982      Harsaw    Torres
7        1305689      Harsaw    Torres
8        1759114  Mershville    Vestal
9        1745020  Matterdawn      Seth
10       1562401      Harsaw    Vestal
11       1467337      Porpus    Torres
12       1091170  Matterdawn    Torres
13       1947604      Harsaw    Vestal
14       1400758  Mershville    Torres
15       1009045  Matterdawn    Vestal
16       1246891  Matterdawn    Cordin
17       1744120  Matterdawn    Vestal
18       1571939  Mershville    Vestal
19       1936895  Matterdawn    Vestal
20       1122582  Matterdawn    Torres
21       1307503  Mershville    Torres
22       1594030      Harsaw    Torres
23       1072081  Mershville    Torres
24       1368919  Mershville    Vestal
25       1954121      Harsaw    Torres
26       1427438  Matterdawn    Vestal
27       1049416      Porpus    Torres
28       1619112      Harsaw    Torres
29       1725473  Mershville    Vestal
...          ...         ...       ...
802970   1243711      Porpus    Cordin
802971   1165617      Harsaw    Vestal
802972   1536635      Porpus    Torres
802973   1952569  Mershville    Vestal
802974   1900901      Harsaw    Vestal
802975   1623227  Mershville    Torres
802976   1164899      Porpus    Torres
802977   1430310      Porpus    Torres
802978   1421648  Mershville    Vestal
802979   1966539  Matterdawn    Vestal
802980   1048447      Arrent    Vestal
802981   1220171      Arrent    Vestal
802982   1546597  Matterdawn    Torres
802983   1454316      Harsaw    Vestal
802984   1273447  Matterdawn    Vestal
802985   1642944  Matterdawn    Torres
802986   1009803      Harsaw    Torres
802987   1348943      Porpus    Vestal
802988   1984510  Mershville    Vestal
802989   1242544      Porpus    Vestal
802990   1370412      Harsaw    Torres
802991   1071339      Porpus    Vestal
802992   1232786      Porpus    Vestal
802993   1872696  Matterdawn    Torres
802994   1818021      Porpus    Vestal
802995   1165505      Harsaw    Vestal
802996   1923858      Harsaw    Torres
802997   1959786  Matterdawn    Torres
802998   1768101  Matterdawn    Torres
802999   1320393      Harsaw    Torres

[803000 rows x 3 columns]>

In [68]:
#A complete list of candidates who received votes
    #--print remaining candidate names
    
election_data_1["Candidate"].unique()

array(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype=object)

In [69]:
election_data_1["Candidate"].value_counts()

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [70]:
# -- floats?
float(385440)
float(353320)
float(40150)
float(24090)

385440.0

In [72]:
#The percentage of votes each candidate won
Vestal_votes_percentage = print(385440/803000)
Torres_votes_percentage = print(353320/803000)
Seth_votes_percentage = print(40150/803000)
Cordin_votes_percentage = print(24090/803000)

TypeError: 'numpy.int64' object is not callable

In [ ]:
#The total number of votes each candidate won
Vestal_votes = Vestal_votes_percentage * 100
Torres_votes = Torres_votes_percentage * 100
Seth_votes = Seth_votes_percentage * 100
Cordin_votes = Cordin_votes_percentage * 100

In [ ]:
#The winner of the election based on popular vote.
    #--cycle through, get highest number?

In [ ]:
#print("Election Results")
#print("-------------------------")
#print("Total Votes:" +)
#print("-------------------------")
#print("Rogers: " +)
#print("Gomez: " +)
#print("Brentwood: " +)
#print("Higgins: " +)
#print("-------------------------")
#print("Winner: " +)